@charset "UTF-8";

.scheduletitle {
	text-align: center;
	font-size: 20px;
	color: white;
}

th.registertitle {
	background: url('../images/wooden01.png');
    height: 40px;
}

.message {
	font-size: 20px;
	color: yellow;
	text-align: left;
}

select {
	background-color: transparent;
	color: white;
}

input.read {
	position: relative;
	width: 100px;
	height: 25px;
	border: 3px solid #caeff2;
	border-radius: 5px;
	background-color: transparent;
	color: white;
	outline: none;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;

}

input.read:hover {
	border-color: #d3da21;
}

input.read:focus {
	border-color: #0c93c6;
}

input.transparent {
	color: white;
	background-color: transparent;
}

.center {
	text-align: center;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}
 
.button {
	background-size: 100% 100%;
	height: 36px;
	border: none;
}

.color0 {
	background-color: transparent;
	width: 30px;
	height: 22px;
}

.color1 {
	background-color: yellow;
	width: 30px;
	height: 22px;
}

#entrybutton {
	background: url("../images/btn_work.png");
	width: 181px;
	margin-top: 6px;
}

#editbutton {
	background: url("../images/btn_edit.png");
	width: 83px;
}

#updatebutton {
	background: url("../images/btn_update.png");
	width: 108px;
}

#allbutton {
	background: url("../images/btn_all.png");
	width: 102px;
}

#clearbutton {
	background: url("../images/btn_clear.png");
	width: 97px;
}

#registerbutton {
	background: url("../images/btn_register.png");
	width: 124px;
}

#returnbutton {
	background: url("../images/btn_return.png");
	width: 107px;
}

#deletebutton {
	background: url("../images/btn_delete.png");
	width: 104px;
}

#entrybutton:hover {
	background: url("../images/btn_work_on.png");
}

#editbutton:hover {
	background: url("../images/btn_edit_on.png");
}

#updatebutton:hover {
	background: url("../images/btn_update_on.png");
}

#allbutton:hover {
	background: url("../images/btn_all_on.png");
}

#registerbutton:hover {
	background: url("../images/btn_register_on.png");
}

#clearbutton:hover {
	background: url("../images/btn_clear_on.png");
}

#returnbutton:hover {
	background: url("../images/btn_return_on.png");
}

#deletebutton:hover {
	background: url("../images/btn_delete_on.png");
}

label.error {
    color: yellow;
}

