@charset "UTF-8";

body {
	background-image: url("../images/sky.jpg");
	background-size: 100% 100%;
}

#wrapper {
	background-image: url("../images/wooden01.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	margin: 0 auto;
	padding-top: 40px;
	border-radius: 15px;
	width: 1000px;
	height: 90%;
	margin-top: 2%;
	margin-bottom: 5%;
}

#header {
	background: url("../images/sky.jpg");
	overflow: hidden;
	margin: 0 auto;
	width: 940px;
	height: 50px;
}

p {
	margin: 8px auto;
	text-align: center;
}

#logintitle {
	font-size: 30px;
	color: yellow;
	font-family: impact;
}

#contents {
	background-image: url("../images/sky.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 60%;
	height: 60%;
	margin: 10% 20% 20% 20%;
	border-radius: 15px;
}

#loginform {
	padding-top: 120px;
	margin: 0 auto;
}

#logininfo {
	margin: 0 auto;
	color: white;
}

#left {
	text-align: left;
}

#right {
	text-align: right;
}

input.read {
	position:relative;
	width: 140px;
	height: 25px;
	border: 3px solid #caeff2;
	border-radius: 20px;
	background-color: transparent;
	color: white;
	outline: none;

}

input.read:hover {
	border-color: #d3da21;
}
input.read:focus {
	border-color: #0c93c6;
}

#loginbutton {
	background: url("../images/btn_login.png");
	background-size: 100% 100%;
	margin-top: 30px;
	width: 94px;
	height: 36px;
	border: none;
}

#loginbutton:hover {
	background: url("../images/btn_login_on.png");
}




