@charset "UTF-8";

div#contents {
	padding-bottom: 50px;
	width: 950px;
	background: url("../images/background02.jpg") repeat center center fixed;

}

div#registerinfo {
	margin: 0 auto;
	padding-top: 50px;
	width: 90%;
}

table.registration {
	margin: 0 auto;
	width: 100%;
	color: white;
	text-align: center;
}

tr {
	height: 40px;

}

th.title {
	background: url('../images/wooden01.png');
    height: 40px;
}
.registration {
	padding-top: 30px;
}

p {
	text-align: center;

}

div#managerlist {
	margin: 0 auto;
	padding-top: 50px;
	width: 90%;
}

table#manager {
	margin: 0 auto;
	width: 100%;
	color: white;
	text-align: center;
}