@charset "UTF-8";

div#contents {
	padding-bottom: 30px;
	width: 950px;
	background: url("../images/background02.jpg") repeat center center fixed;

}

div#memberlist {
	margin: 0 auto;
	padding-top: 50px;
	width: 90%;
}

table#member {
	margin: 0 auto;
	width: 100%;
	color: white;
	text-align: center;
	height: 40px;
}

th {
	background-color: ;
}
