@charset "UTF-8";

#contents {
	padding-top: 50px;
	padding-bottom: 30px;
	width: 950px;
	background: url("../images/background02.jpg") repeat center center fixed;

}

#entrybutton {
	margin-top: 10px;
}

.color0 {
	background-color: transparent;
	width: 30px;
	height: 22px;
}

.color1 {
	background-color: #ff6347;
	width: 30px;
	height: 22px;
}

#calender {
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

#workschedule {
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 98%;
}

#scheduling {
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 50px;
	width: 98%;
}

#date,
#insertdate {
	background-color: transparent;
	color: white;
}


#table2 {
	background: url("../images/background01.jpg");
	margin: 0 auto;
	width: 100%;
	color: white;
	text-align: center;
}

#personalscheduletable {
	background: url("../images/background01.jpg");
	margin: 0 auto;
	width: 830px;
	color: white;
	text-align: center;
}
#clickbox {
	width: 30px;
	height: 22px;
}
tr th {
	border: none;
}

tr td.clickbox {
	padding-top: 0;
	background: url("../images/background02.jpg");
	width: 30px;
	height: 22px;

}

.bt {
	background-color: transparent;
	border: none;
	width: 30px;
	height: 20px;
}

}
#name {
	background-color: transparent;
	color: white;
	width: 40px;
}

#editselect {
	text-align: center;
}


