@charset "UTF-8";

#contents {
	padding-top: 50px;
	padding-bottom: 30px;
	width: 950px;
	background: url("../images/background02.jpg") repeat center center fixed;

}

.color0 {
	background-color: transparent;
	width: 30px;
	height: 22px;
}

.color1 {
	background-color: #ff6347;
	width: 30px;
	height: 22px;
}

#calender {
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

#workschedule {
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 98%;
}

#scheduling {
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 50px;
	width: 98%;
}

#date,
#insertdate {
	background-color: transparent;
	color: white;
}


#table2 {
	background: url("../images/background01.jpg");
	margin: 0 auto;
	width: 100%;
	color: white;
	text-align: center;
}

#personalscheduletable {
	background: url("../images/background01.jpg");
	margin: 0 auto;
	width: 830px;
	color: white;
	text-align: center;
}
#clickbox {
	width: 30px;
	height: 22px;
}
tr th {
	border: none;
}

tr td.clickbox {
	padding-top: 0;
	background: url("../images/background02.jpg");
	width: 30px;
	height: 22px;

}

.bt {
	background-color: transparent;
	border: none;
	width: 30px;
	height: 20px;
}

p.left {
	float: left;
	text-align: left;
}

p.right {
	text-align: right;
}

#calendar_hm3_icon {
	background: url("../images/calender.jpg");
	background-size: 100% 100%;
	width: 25px;
}

div.calender-code {
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
}

#calendar_hm3 {
	width: 70px;

}
#name {
	background-color: transparent;
	color: white;
	width: 40px;
}

#editselect {
	text-align: center;
	vertical-align: middle;
}

.button {
	background-size: 100% 100%;
	height: 36px;
	border: none;
}

#entrybutton {
	background: url("../images/btn_work.png");
	width: 181px;
	margin-top: 6px;
}

#editbutton {
	background: url("../images/btn_edit.png");
	width: 83px;
}

#allbutton {
	background: url("../images/btn_all.png");
	width: 102px;
}

#clearbutton {
	background: url("../images/btn_clear.png");
	width: 97px;
}

#registerbutton {
	background: url("../images/btn_register.png");
	width: 124px;
}

#returnbutton {
	background: url("../images/btn_return.png");
	width: 107px;
}

#entrybutton:hover {
	background: url("../images/btn_work_on.png");
}

#editbutton:hover {
	background: url("../images/btn_edit_on.png");
}

#allbutton:hover {
	background: url("../images/btn_all_on.png");
}

#registerbutton:hover {
	background: url("../images/btn_register_on.png");
}

#clearbutton:hover {
	opacity: 0.5;
}

#returnbutton {
	background: url("../images/btn_return_on.png");
}
