@charset "UTF-8";

/*div*/
#contents {
	padding-top: 50px;
	padding-bottom: 100px;
	width: 950px;
	background: url("../images/background02.jpg") repeat center center fixed;
	text-align: center;

}

/*div*/
#monthlist {
	overflow: hidden;
	margin: 0 auto;
}

/*input*/
#entrybutton {
	margin-top: 10px;
}

.color1 {
	background-color: #ff6347;
	width: 30px;
	height: 22px;
}

/*div*/
#workschedule {
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 98%;
}

/*table*/
#personalscheduletable {
	background: url("../images/background01.jpg");
	margin: 0 auto;
	width: 100%;
	color: white;
}

/*input*/
#dataname {
	font-size: 15px;
	width: 60px;
}

/*div*/
#scheduling {
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 100px;
	width: 98%;
}

/*table*/
#schedulingtable {
	background: url("../images/background01.jpg");
	margin: 0 auto;
	width: 100%;
	color: white;
	text-align: center;
}


th {
	border: none;
}

td.clickbox {
	padding-top: 0;
	background: url("../images/background02.jpg");
	width: 30px;
	height: 22px;

}

/*ここからEDIT */
.bt {
	background-color: transparent;
	border: none;
	width: 30px;
	height: 20px;
}

