@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url("../images/photo/top/2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
	height: 600px;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

table {
	width: 1000px;
}
#bc {
	width: 100%;
	font-size: 75px;
	text-align: center;
	color: white;
	background-color: transparent;
}

#bar {
	background-color: transparent;
	width: 750px;
	font-size: 24px;
	color: white;
}

#p {
	width: 150px;
	height: 30px;
	padding-top: 8px;
	background-color: blue;
}

#p:hover {
	opacity: 0.8;

}

#pre {
	background-color: blue;
	font-size: 13px;
}

#header {
	margin: 0 auto;
	color: white;
	text-align: center;
}

#nav {
	padding-top: 500px;
	bottom: 0;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	bottom: 0;
}

ul {
	padding-left: 15px;
}

li {
	width: 114px;
	padding-left: 5px;
	font-size: 12px;
	float: left;
	border-left: 1px solid #92999F;
	list-style-position: outside;
	list-style-type: none;
	text-align: center;
}

a {
	font-size: 10px;
	color: white;
	text-decoration: none;
}

li:hover a {
	text-decoration: underline;
}

.menu li {
	background-color: black;
	border: none;
}

#contents {
	background-color: transparent;
	overflow: hidden;
	margin: 0 auto;
	height: 1000px;
}

p {
	text-align: center;
}

#footer {
	border: 1px solid #92999F;
	border-bottom: none;
	margin: 0 auto;
	width: 100px;
	height: 50px;
	border-radius: 8px;
}
#footer:hover #top1{
	color: blue;

}

#top1 {
	font-size: 15pt;
}
